* {
  box-sizing: border-box;
}

body {
  line-height: 14px;
}

textarea {
  font-family: monospace;
  width: 300px;
  height: 200px;
}

#tabs {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
}

#tabs #links {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 100%;
}

#tabs #links a {
  display: inline-block;
  padding: 5px;
  font-size: 32px;
}

#tabs a.active {
  border: 1px solid #000;
}

#tabs .content {
  display: none;
  margin-right: 48px;
}

#sprites pre {
  float: left;
  padding: 10px;
}

#sprites pre:hover {
  cursor: pointer;
  border: 1px solid #000;
}

